root = true

[*.cs]
indent_style = space
indent_size = 4
max_line_length = 120
csharp_new_line_before_open_brace = all
csharp_indent_switch_labels = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = false

# Naming rules
dotnet_naming_rule.private_fields_should_be_camel_case.severity = suggestion
dotnet_naming_rule.private_fields_should_be_camel_case.symbols = private_fields
dotnet_naming_rule.private_fields_should_be_camel_case.style = camel_case_style

dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.camel_case_style.capitalization = camel_case


